.main-container {
    width: 1280px;
    background: yellow;
    height: 2000px;
    margin: 0 auto;
}

.header {
    background: indianred;
    padding: 75px 0 0 0;
}
.logo {
    width: 50%;
}
.logo a {
    line-height: 50px;
}
.nav {
    width: 50%;
}
.header-top-links {
    display: flex;
}
.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.main-title {
    padding: 300px 0;
    text-align: center;
    color: white;
}
.main-title h1,
.main-title button {
    text-transform: uppercase;
}
.main-title button {
    background: 0;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
.main-title button:hover {
    background: white;
    border: 1px solid black;
    color: black;
    transition: 0.25s;
}

.list-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-items .item {
    height: 250px;
    width: 32%;
    margin-bottom: 20px;
}

.list-items .item:hover .hover-container {
    display: block;
    transition: 2s;
}

.list-items .item img {
    width: 100%;
}

.item {
    position: relative;
}
.item .hover-container {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 84px;
    color: white;
    z-index: 5;
    display: none;
}
.item .hover-container button {
    background: white;
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 15px;
}

.test {
    background-color: red;
    width: 600px;
    height: 600px;
    position: relative;
}
.test2 {
    background-color: green;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.layer {
    background: indianred;
    width: 100%;
    height: 255px;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}
.text-container {
    z-index: 10;
}